/* .mtk7 {
  color: #8329fe !important;
}
.mtk23 {
  color: #4e0101 !important;
}

.mtk21 {
  color: #a31515 !important;
}

.bracket-highlighting-1 {
  color: #d20303 !important;
}

.mtk8 {
  color: #d20303 !important;
}

.monaco-editor .line-numbers {
  color: #ddd2ff !important;
} */
