---
import AppIcon from "../AppIcon.astro";

// import IconApp from "../shared/astro/IconApp.astro";

// const today = new Date();
---

<footer class="">
  <div class="">
    <div
      class="mx-auto text-primary-950 max-w-screen-xl py-5 md:flex justify-between items-center border-t-2 border-primary-200 mt-10 mb-2"
    >
      <div class="flex items-center">
        <AppIcon name="logo" size="38" />
        <div class="ms-1 text-primary-950">Developer Miguel Angel.</div>
      </div>

      <div class="mx-2 flex items-center text-primary-950">
        by
        <AppIcon name="frog" size="32" class="text-primary-950" />
      </div>
    </div>
  </div>
</footer>
