---
// import Icons from "./Icons.astro";
import { LANG } from "../../i18n/index";
import AppIcon from "../AppIcon.astro";
const { currentLocale } = Astro;
---

<div class="flex items-center md:justify-end mb-5">
  <div class="flex items-center">
    <div class="me-2 text-secondary-0">
      <AppIcon name="planets" />
    </div>
    <a href={LANG.es.link} class="text-secondary-1000">
      <span
        class={`me-2 font-raleway font-semibold leading-none ${currentLocale !== "en" ? "font-bold text-secondary-0" : ""}`}
        >ES</span
      >
    </a>
    <a href={LANG.en.link} class="text-secondary-1000">
      <span
        class={`me-2 font-raleway font-semibold leading-none ${currentLocale === "en" ? "font-bold text-secondary-0" : ""}`}
        >EN</span
      >
    </a>
  </div>
</div>
