---
import { i18n } from "../../i18n";
import { LISTPAGESID } from "../../pages/sheet/listPageId";

const { currentLocale } = Astro;

const texts = i18n(currentLocale);
---

<div class="mt-14 columns-2 md:grid md:grid-cols-3">
  <div class="break-inside-avoid">
    <h4 class="font-bold font-raleway mb-2 text-secondary-0">Secciones</h4>
    <ul class="[&>*]:mb-1">
      <li>
        <a class="text-primary-950 hover:text-secondary-0" href="/"
          >{currentLocale === "en" ? "Home" : "Inicio"}</a
        >
      </li>
      {
        texts.menu.map((item) => (
          <li>
            <a
              class="text-primary-950 hover:text-secondary-0"
              href={`${currentLocale === "en" ? "/en" : ""}/#${item.path}`}
            >
              {item.label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>

  <div class="break-inside-avoid">
    <h4 class="font-bold mb-2 text-secondary-0">Cheatsheet</h4>
    <ul class="[&>*]:mb-1">
      {
        LISTPAGESID.map((item: any) => (
          <li>
            <a
              class="text-primary-950 hover:text-secondary-0"
              href={"/sheet/" + item.pageId}
            >
              {item.title}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
  <div class="break-inside-avoid">
    <h4 class="font-bold mb-2 text-secondary-0">Utilities</h4>
    <ul>
      <li>
        <a
          class="text-primary-950 hover:text-secondary-0 blank"
          target="_blank"
          href="https://github.com/MiguelRoot/angular-sidebar-admin"
        >
          Angular Sidebar Admin
        </a>
      </li>
    </ul>
  </div>
</div>
