---
import AppIcon from "../AppIcon.astro";
---

<div class="flex pb-3 [&>*]:me-3 mt-4 md:pb-10 lg:mt-0">
  <a
    href="https://www.linkedin.com/in/miguelkillki/"
    class="relative inline-flex items-center justify-center p-0.5 bg-primary-100 mb-1 overflow-hidden text-sm font-medium hover:text-primary-0 rounded-full group hover:bg-gradient-to-br from-secondary-0 to-primary-0 group-hover:from-secondary-0 group-hover:to-primary-0"
    target="_blank"
  >
    <span
      class="relative p-3.5 transition-all ease-in duration-75 bg-primary-50 dark:bg-gray-900 rounded-full"
    >
      <AppIcon name="linkedin" />
    </span>
  </a>
  <a
    href="https://github.com/MiguelRoot"
    class="relative inline-flex items-center justify-center p-0.5 bg-primary-100 mb-1 overflow-hidden text-sm font-medium hover:text-primary-0 rounded-full group hover:bg-gradient-to-br from-secondary-0 to-primary-0 group-hover:from-secondary-0 group-hover:to-primary-0"
    target="_blank"
  >
    <span
      class="relative p-3.5 transition-all ease-in duration-75 bg-primary-50 dark:bg-gray-900 rounded-full"
    >
      <AppIcon name="github" />
    </span>
  </a>
  <a
    href="https://twitter.com/MiguelKillki"
    class="relative inline-flex items-center justify-center p-0.5 bg-primary-100 mb-1 overflow-hidden text-sm font-medium hover:text-primary-0 rounded-full group hover:bg-gradient-to-br from-secondary-0 to-primary-0 group-hover:from-secondary-0 group-hover:to-primary-0"
    target="_blank"
  >
    <span
      class="relative p-3.5 transition-all ease-in duration-75 bg-primary-50 dark:bg-gray-900 rounded-full"
    >
      <AppIcon name="twitter" />
    </span>
  </a>
  <a
    href="https://www.instagram.com/miguelkillki/"
    class="relative inline-flex items-center justify-center p-0.5 bg-primary-100 mb-1 overflow-hidden text-sm font-medium hover:text-primary-0 rounded-full group hover:bg-gradient-to-br from-secondary-0 to-primary-0 group-hover:from-secondary-0 group-hover:to-primary-0"
    target="_blank"
  >
    <span
      class="relative p-3.5 transition-all ease-in duration-75 bg-primary-50 dark:bg-gray-900 rounded-full"
    >
      <AppIcon name="instagram" />
    </span>
  </a>
</div>
