---
import AppIcon from "../AppIcon.astro";
---

<div>
  <!-- <div class="text-primary-400 mb-2 font-raleway font-semibold">
    Redes sociale:
  </div> -->
  <div class="flex pb-3 [&>*]:me-3 mt-4 md:pb-6 lg:mt-0">
    <a
      href="https://www.linkedin.com/in/miguelkillki/"
      class="custom-bg-button relative inline-flex items-center justify-center p-0.5 bg-primary-100 mb-1 overflow-hidden text-sm font-medium text-primary-800 hover:text-secondary-700 rounded-full group hover:bg-gradient-to-br from-secondary-600 to-primary-600"
      target="_blank"
    >
      <span
        class="relative p-3.5 transition-all ease-in duration-75 bg-primary-50 rounded-full"
      >
        <AppIcon name="linkedin" />
      </span>
    </a>
    <a
      href="https://github.com/MiguelRoot"
      class="custom-bg-button relative inline-flex items-center justify-center p-0.5 bg-primary-100 mb-1 overflow-hidden text-sm font-medium text-primary-800 hover:text-secondary-700 rounded-full group hover:bg-gradient-to-br from-secondary-600 to-primary-600"
      target="_blank"
    >
      <span
        class="relative p-3.5 transition-all ease-in duration-75 bg-primary-50 rounded-full"
      >
        <AppIcon name="github" />
      </span>
    </a>
    <a
      href="https://twitter.com/MiguelKillki"
      class="custom-bg-button relative inline-flex items-center justify-center p-0.5 bg-primary-100 mb-1 overflow-hidden text-sm font-medium text-primary-800 hover:text-secondary-700 rounded-full group hover:bg-gradient-to-br from-secondary-600 to-primary-600"
      target="_blank"
    >
      <span
        class="relative p-3.5 transition-all ease-in duration-75 bg-primary-50 rounded-full"
      >
        <AppIcon name="twitter" />
      </span>
    </a>
    <!-- <a
      href="https://www.instagram.com/miguelkillki/"
      class="custom-bg-button relative inline-flex items-center justify-center p-0.5 bg-primary-100 mb-1 overflow-hidden text-sm font-medium hover:text-primary-0 rounded-full group hover:bg-gradient-to-br from-secondary-0 to-primary-0 group-hover:from-secondary-0 group-hover:to-primary-0"
      target="_blank"
    >
      <span
        class="relative p-3.5 transition-all ease-in duration-75 bg-primary-50 dark:bg-gray-900 rounded-full"
      >
        <AppIcon name="instagram" />
      </span>
    </a> -->
  </div>
</div>
