<!-- <button
  class="font-medium border border-primary-0 rounded-xl text-sm text-primary-0 px-5 py-1.5 mb-1 me-2"
  id="generate-word">Descargar CV</button
> --><!-- <button
  type="button"
  class="text-white bg-primary-300 cursor-not-allowed font-medium rounded-xl text-sm px-6 py-2 text-center"
  disabled>No disponible</button
> -->
<button
  class="relative inline-flex items-center justify-center p-0.5 mb-1 overflow-hidden text-sm font-semibold text-primary-0 rounded-xl group bg-gradient-to-br from-secondary-0 to-primary-0 group-hover:from-secondary-0 group-hover:to-primary-0"
>
  <span
    class="relative font-raleway px-6 py-1.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-lg font-bold"
  >
    Descargar CV
  </span>
</button>
