<!-- <button
  class="font-medium border border-primary-0 rounded-xl text-sm text-primary-0 px-5 py-1.5 mb-1 me-2"
  id="generate-word">Descargar CV</button
> --><!-- <button
  type="button"
  class="text-white bg-primary-300 cursor-not-allowed font-medium rounded-xl text-sm px-6 py-2 text-center"
  disabled>No disponible</button
> --><!-- <a
  href="/static/Curriculum_Miguel_Angel_Llacta_Flores.docx"
  download
  class="relative inline-flex items-center justify-center p-0.5 mb-1 overflow-hidden text-sm font-semibold text-primary-0 rounded-xl group bg-gradient-to-br from-secondary-0 to-primary-0 group-hover:from-secondary-0 group-hover:to-primary-0"
>
  <span
    class="relative font-raleway px-6 py-1.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-lg font-bold"
  >
    Descargar CV
  </span>
</a> -->
<a
  href="/static/Curriculum_Miguel_Angel_Llacta_Flores.docx"
  download
  class="codepen-button"><span class="font-semibold">Descargar CV</span></a
>
<style>
  /* From Uiverse.io by SelfMadeSystem */
  /* Yoinked from CodePen, but improved the animation
so that it is smooth among other more minor things */

  .codepen-button {
    display: block;
    cursor: pointer;
    color: var(--secondary-900);
    margin: 0 auto;
    position: relative;
    text-decoration: none;
    /* font-weight: 500; */
    border-radius: 12px;
    overflow: hidden;
    padding: 2px;
    isolation: isolate;
  }

  /* .codepen-button:hover {
    color: var(--secondary);
  } */

  .codepen-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    background: linear-gradient(
      115deg,
      #8f4fcf,
      #ff0000,
      #a261e3,
      #9812fe,
      #9244ce
    );
    background-size: 25% 100%;
    animation: an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop
      0.75s linear infinite;
    animation-play-state: paused;
    translate: -5% 0%;
    transition: translate 0.3s ease-out;
  }

  .codepen-button::before {
    animation-play-state: running;
    transition-duration: 0.75s;
    translate: 0% 0%;
  }

  .codepen-button:hover::before {
    background: #ff0000;
  }

  @keyframes an-at-keyframe-css-at-rule-that-translates-via-the-transform-property-the-background-by-negative-25-percent-of-its-width-so-that-it-gives-a-nice-border-animation_-We-use-the-translate-property-to-have-a-nice-transition-so-it_s-not-a-jerk-of-a-start-or-stop {
    to {
      transform: translateX(-25%);
    }
  }

  .codepen-button span {
    position: relative;
    display: block;
    padding: 6px 1.5rem;
    /* font-size: 1.1rem; */
    background: #fff;
    border-radius: 10px;
    height: 100%;
  }
</style>
