---
// import Icons from "./Icons.astro";
import { LANG } from "../i18n/index";
const { currentLocale } = Astro;
---

<div class="flex items-center md:justify-end mb-5">
  <!-- <div class="border-r pe-5 me-5">
    <Icons name="sun" />
  </div> -->

  <div class="flex items-center">
    <div class="me-2">
      <svg
        width="25"
        height="24"
        viewBox="0 0 25 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M3.8548 11C4.04994 9.26069 4.74749 7.61588 5.86222 6.26656C6.97694 4.91724 8.46057 3.92184 10.1318 3.402C8.7719 5.71595 7.98246 8.32043 7.8288 11H3.8548ZM11.7918 1.046C6.1898 1.554 1.7998 6.265 1.7998 12C1.7998 17.735 6.1898 22.446 11.7918 22.955L11.7998 22.965L12.2248 22.985C12.4163 22.9944 12.608 22.9994 12.7998 23C12.9916 22.9999 13.1833 22.9949 13.3748 22.985L13.7998 22.965L13.8078 22.955C19.4098 22.444 23.7998 17.735 23.7998 12C23.7998 6.265 19.4098 1.554 13.8078 1.046L13.7998 1.036L13.3738 1.015C12.9914 0.995306 12.6082 0.995306 12.2258 1.015L11.7998 1.035L11.7918 1.046ZM12.8018 3C14.5479 5.32115 15.5784 8.10155 15.7668 11H9.8328C10.0215 8.10144 11.0524 5.32104 12.7988 3H12.7998H12.8018ZM7.8278 13C7.9878 15.76 8.80781 18.345 10.1308 20.598C8.45975 20.078 6.97634 19.0825 5.8618 17.7332C4.74727 16.3839 4.04987 14.7392 3.8548 13H7.8278ZM12.7978 21C11.0514 18.679 10.0205 15.8986 9.8318 13H15.7658C15.5771 15.8986 14.5462 18.679 12.7998 21H12.7978ZM15.4678 20.598C16.8273 18.2839 17.6164 15.6795 17.7698 13H21.7438C21.5487 14.7392 20.8513 16.3839 19.7368 17.7332C18.6223 19.0825 17.1389 20.078 15.4678 20.598ZM17.7698 11C17.6098 8.24 16.7898 5.655 15.4668 3.402C17.1382 3.92168 18.6221 4.91701 19.737 6.26634C20.8519 7.61567 21.5496 9.26057 21.7448 11H17.7698Z"
          fill="currentColor"></path>
      </svg>
    </div>
    <a href={LANG.es.link}>
      <span
        class={`me-2 leading-none ${currentLocale !== "en" ? "font-bold text-primary-500" : ""}`}
        >ES</span
      >
    </a>
    <a href={LANG.en.link}>
      <span
        class={`me-2 leading-none ${currentLocale === "en" ? "font-bold text-primary-500" : ""}`}
        >EN</span
      >
    </a>
  </div>
</div>
