<div class="flex items-center md:justify-end mb-5">
  <button
    class="relative inline-flex items-center justify-center p-0.5 me-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-purple-600 to-primary-500 group-hover:from-purple-600 group-hover:to-blue-500 hover:text-white focus:outline-none focus:ring-blue-300"
  >
    <div class="relative px-5 py-1.5 transition-all ease-in duration-75 bg-white rounded-md group-hover:bg-opacity-0 flex">
      <span class="me-2">Descargar CV</span>
      <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.875 9.5625V14.0625C16.875 14.3609 16.7565 14.647 16.5455 14.858C16.3345 15.069 16.0484 15.1875 15.75 15.1875H2.25C1.95163 15.1875 1.66548 15.069 1.4545 14.858C1.24353 14.647 1.125 14.3609 1.125 14.0625V9.5625C1.125 9.26413 1.24353 8.97798 1.4545 8.767C1.66548 8.55603 1.95163 8.4375 2.25 8.4375H5.0625C5.21168 8.4375 5.35476 8.49676 5.46025 8.60225C5.56574 8.70774 5.625 8.85082 5.625 9C5.625 9.14918 5.56574 9.29226 5.46025 9.39775C5.35476 9.50324 5.21168 9.5625 5.0625 9.5625H2.25V14.0625H15.75V9.5625H12.9375C12.7883 9.5625 12.6452 9.50324 12.5398 9.39775C12.4343 9.29226 12.375 9.14918 12.375 9C12.375 8.85082 12.4343 8.70774 12.5398 8.60225C12.6452 8.49676 12.7883 8.4375 12.9375 8.4375H15.75C16.0484 8.4375 16.3345 8.55603 16.5455 8.767C16.7565 8.97798 16.875 9.26413 16.875 9.5625ZM8.60203 9.39797C8.65427 9.45027 8.71631 9.49176 8.7846 9.52007C8.85288 9.54837 8.92608 9.56294 9 9.56294C9.07392 9.56294 9.14712 9.54837 9.2154 9.52007C9.28369 9.49176 9.34573 9.45027 9.39797 9.39797L12.773 6.02297C12.8785 5.91742 12.9378 5.77427 12.9378 5.625C12.9378 5.47573 12.8785 5.33258 12.773 5.22703C12.6674 5.12148 12.5243 5.06219 12.375 5.06219C12.2257 5.06219 12.0826 5.12148 11.977 5.22703L9.5625 7.64227V1.6875C9.5625 1.53832 9.50324 1.39524 9.39775 1.28975C9.29226 1.18426 9.14918 1.125 9 1.125C8.85082 1.125 8.70774 1.18426 8.60225 1.28975C8.49676 1.39524 8.4375 1.53832 8.4375 1.6875V7.64227L6.02297 5.22703C5.91742 5.12148 5.77427 5.06219 5.625 5.06219C5.47573 5.06219 5.33258 5.12148 5.22703 5.22703C5.12148 5.33258 5.06219 5.47573 5.06219 5.625C5.06219 5.77427 5.12148 5.91742 5.22703 6.02297L8.60203 9.39797ZM14.0625 11.8125C14.0625 11.6456 14.013 11.4825 13.9203 11.3437C13.8276 11.205 13.6958 11.0968 13.5416 11.033C13.3875 10.9691 13.2178 10.9524 13.0541 10.985C12.8905 11.0175 12.7401 11.0979 12.6221 11.2159C12.5041 11.3339 12.4238 11.4842 12.3912 11.6479C12.3587 11.8116 12.3754 11.9812 12.4392 12.1354C12.5031 12.2896 12.6112 12.4213 12.75 12.5141C12.8887 12.6068 13.0519 12.6562 13.2188 12.6562C13.4425 12.6562 13.6571 12.5674 13.8154 12.4091C13.9736 12.2509 14.0625 12.0363 14.0625 11.8125Z"
          fill="currentColor"></path>
      </svg>
    </div>
  </button>
  <div class="flex items-center ms-3">
    <div class="me-2">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M1.7998 12C1.7998 13.3395 2.06364 14.6659 2.57623 15.9034C3.08883 17.1409 3.84016 18.2653 4.78732 19.2125C5.73447 20.1596 6.85891 20.911 8.09643 21.4236C9.33395 21.9362 10.6603 22.2 11.9998 22.2C13.3393 22.2 14.6657 21.9362 15.9032 21.4236C17.1407 20.911 18.2651 20.1596 19.2123 19.2125C20.1595 18.2653 20.9108 17.1409 21.4234 15.9034C21.936 14.6659 22.1998 13.3395 22.1998 12C22.1998 9.29479 21.1252 6.70038 19.2123 4.78751C17.2994 2.87464 14.705 1.8 11.9998 1.8C9.2946 1.8 6.70019 2.87464 4.78732 4.78751C2.87444 6.70038 1.7998 9.29479 1.7998 12ZM20.9998 12C20.9998 14.387 20.0516 16.6761 18.3638 18.364C16.6759 20.0518 14.3868 21 11.9998 21C9.61286 21 7.32367 20.0518 5.63584 18.364C3.94802 16.6761 2.9998 14.387 2.9998 12C2.9998 9.61305 3.94802 7.32387 5.63584 5.63604C7.32367 3.94821 9.61286 3 11.9998 3C14.3868 3 16.6759 3.94821 18.3638 5.63604C20.0516 7.32387 20.9998 9.61305 20.9998 12Z"
          fill="#00293E"></path>
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M7.7998 12C7.7998 17.2752 9.5302 21.6 11.9998 21.6C14.4694 21.6 16.1998 17.2752 16.1998 12C16.1998 6.72481 14.4694 2.40001 11.9998 2.40001C9.5302 2.40001 7.7998 6.72481 7.7998 12ZM14.9998 12C14.9998 16.6668 13.5058 20.4 11.9998 20.4C10.4938 20.4 8.9998 16.6668 8.9998 12C8.9998 7.33321 10.4938 3.60001 11.9998 3.60001C13.5058 3.60001 14.9998 7.33321 14.9998 12Z"
          fill="#00293E"></path>
        <path
          d="M4.4819 6.37441L5.2859 5.48401C5.4143 5.59921 5.5511 5.71201 5.6975 5.82121C7.2791 7.00681 9.7751 7.72921 12.4955 7.72921C14.8151 7.72921 16.9799 7.20481 18.5615 6.30121C18.9259 6.09503 19.2702 5.85518 19.5899 5.58481L20.3699 6.49681C20.0123 6.80281 19.6067 7.08481 19.1579 7.34161C17.3855 8.35561 15.0155 8.92921 12.4955 8.92921C9.5315 8.92921 6.7811 8.13361 4.9775 6.78121C4.80613 6.65289 4.64075 6.51795 4.4819 6.37441ZM4.4819 17.64L5.2859 18.528C5.4143 18.4128 5.5511 18.3 5.6975 18.192C7.2791 17.0064 9.7751 16.284 12.4955 16.284C14.8151 16.284 16.9799 16.8072 18.5615 17.712C18.9467 17.9328 19.2911 18.1728 19.5899 18.4272L20.3699 17.5152C19.9932 17.1964 19.5874 16.9135 19.1579 16.6704C17.3855 15.6576 15.0155 15.084 12.4955 15.084C9.5315 15.084 6.7811 15.8796 4.9775 17.2308C4.8023 17.3628 4.6367 17.4996 4.4819 17.64ZM2.3999 12.6V11.4H21.5999V12.6H2.3999Z"
          fill="#00293E"></path>
      </svg>
    </div>
    <span class="me-2 font-bold leading-none">ES</span>
    <span class="leading-none">EN</span>
  </div>
</div>
